{% extends "base.html" %}

{% block body %}
<div class="product">
<img alt="{{p.name}}" src="{{MEDIA_URL}}images/{{p.icon}}" class="icon"/>
<div class="description">
	<h1>{{p.name}}</h1>
	<p>{{p.description|safe}}</p>	
		{% if user.is_admin %}
			<a href="/store/edit/{{p.key}}">Edit</a><br/>
		{% endif %}

	<div class="product_buttons">
		{% if p.is_freeware %}
			<a class="button" href="{{p.download_url}}">Download</a>
		{% else %}
			<a class="button" href="{{p.download_url}}">Try Now</a>
			<a class="button" href="/store/purchase/{{p.key}}">Purchase</a>
		{% endif %}
	</div>
</div>
</div>
{% endblock %}